/*
TITLE: loopingThroughArrays.css
AUTHOR: Zaid Saeed
PURPOSE: Stylesheet for loopingThroughArrays.html
ORIGINALLY CREATED ON: 10/1
LAST MODIFIED ON: 
LAST MODIFIED BY: Zaid Saeed
MODIFICATION HISTORY: 

*/

.container {
    width: 500px;
    margin: 20px auto;
}