/*
TITLE: iffy.css
AUTHOR: Zaid Saeed
PURPOSE: Stylesheet for iffy.html
ORIGINALLY CREATED ON: 9/24
LAST MODIFIED ON: 
LAST MODIFIED BY: Zaid Saeed
MODIFICATION HISTORY: 

*/


.container {
    width: 500px;
    margin: 10px auto;
}