/*
TITLE: moreifs.css
AUTHOR: Zaid Saeed
PURPOSE: Stylesheet for moreifs.html
ORIGINALLY CREATED ON: 9/24/2018
LAST MODIFIED ON: 
LAST MODIFIED BY: Zaid Saeed
MODIFICATION HISTORY: 

*/

.container {
    width: 50vw;
    margin: 10px auto;
}

.container div {
	padding: 10px;
	font-weight: bold;
}