* {
    margin: 0 0 6px;
}

header {
    text-align: left;
    margin: 0 auto;
    color: white;
    background-color: #134;
    padding: 30px 150px;
}

.container {
    width: 720px;
    margin: 0 auto;
}

body {
    background-color: #fff5e6;
    /*	Use the Color Picker to find the hex code of your favorite color
									http://www.w3schools.com/tags/ref_colorpicker.asp */
}

body p {
    padding-left: 2em;
}


li,
li a {
    /* Define the formatting for the links to the labs */
    list-style: none;
    background-color: #134;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    padding: 2px;
}

a {
    text-decoration: none;
}

li:hover{
    background-color: #000;
}

h2 {
    width: 100%;
    color: #134;
    line-height: 40px;
}

h3 {
    color: #134;
    line-height: 30px;
    text-align: center;
}

#assignments {
    /* Define the formatting for the <div id="asssignments"> box */
    width: 720px;
    margin: 0 auto;
    min-height: 300px;
    padding: 15px;
    background-color: white;
}

#assignments ul {
    float: left;
    width: 300px;
}

hr {
    /* Define the formatting for the <hr /> line between "Course Work" and lab links */
    margin: 10px 0;
    width: 100%;
    float: left;
}
