/*
TITLE: walktheplank.css
AUTHOR: Zaid Saeed
PURPOSE: Stylesheet for walktheplank.html
ORIGINALLY CREATED ON: 08/21/2018
LAST MODIFIED ON: 08/28/2018
LAST MODIFIED BY: Zaid SAeed
MODIFICATION HISTORY: Added Header Comment
    Initial Creation
*/

body {
	background-color: #67BCCB;
}

.container {
	width: 720px;
	height: 90vh;
	margin: 20px auto;
	background-color: #F2F7F1; 
	padding: 15px;
	font-size: 25px;
}

#hauntedDuke {
	color:#797979;
}

#blackDiamond {
	padding-top: 15px;
	color: #BE6305;
}
