/*
TITLE: functions.css
AUTHOR: Zaid Saeed
PURPOSE: Stylesheet for functions.html
ORIGINALLY CREATED ON: 9/9/18
LAST MODIFIED ON: 9/9/19
LAST MODIFIED BY: Zaid SAeed
MODIFICATION HISTORY: init

*/


.container {
    width: 500px;
    margin: 10px auto;
}

.container div {
    margin: 15px;
    padding: 5px;
    border: 1px solid black;
}