/*
TITLE: randomness.css
AUTHOR: Zaid Saeed
PURPOSE: Stylesheet for randomness.html
ORIGINALLY CREATED ON: 9/17/18
LAST MODIFIED ON: 
LAST MODIFIED BY: Zaid Saeed
MODIFICATION HISTORY: 

*/

.container {
    width: 500px;
    margin: 10px auto;
}

.container div {
    margin: 15px;
    padding: 5px;
    border: 1px solid black;
}